<!-- Products Row --> 
<div class="row">
  <% @products.each do |product| %>
  <div class="col-sm-4 col-lg-3 col-md-4">
    <div class="thumbnail">
      <%= link_to((image_tag product.image.url(:preview), :class => "img-responsive", :title => product.titulo, :alt => product.titulo), catalogo_show_path(:product_id => product.id), :class => 'preview', :rel => 'prettyPhoto') %>
      <div class="caption">
        <h4>
          <%= link_to(product.titulo, catalogo_show_path(:product_id => product.id), :class => 'preview', :rel => 'prettyPhoto') %></h4>
        <div class="description">
          <p><%= product.descripcion %></p>
        </div>
        <p class="pull-right"><%= number_to_currency(product.precio, :precision => 1, :unit => "€", :format => "%n %u") %></p>
        <p>Ref: <%= product.ref_pro %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
<!-- /.row -->