<% @page_title = @section.titulo %>

<section id="portfolio">
  <div class="container">
    <div class="row">
          
    <div class="center">
      <h2><%= @section.titulo %> <span class="badge"><%= @products.total_entries %></span></h2>
      <p class="lead"><%= @section.titular %></p>
    </div>

    <!-- views/posts/index.html.erb -->
    <div id="products-content">
      <%= render(partial: 'products') %>
    </div>
    
    <%= will_paginate @products %>
    <!-- boton fijo para ir al principio de la página -->
    <a href="#" class="scrollup">Scroll</a>

  </div>
</section><!--/#portfolio-item-->
