<% @page_title = @product.titulo %>

<div>
  <ul class="pager">
    <li class="previous">
      <%= link_to catalogo_index_path(:section_id => @product.preproduct.section_id) do %>
        <span aria-hidden='true'>&larr;</span> Volver al listado
      <% end %>
    </li>
  </ul>
</div>

<!-- Page Content -->
<div class="container">
  <!-- Portfolio Item Row -->
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <%= link_to @product.image.url(:large), :class => "fancy-box", :title => @product.titulo do %>
        <%= image_tag @product.image.url(:standard), :class => "img-responsive", :title => @product.titulo %>
      <% end %>
    </div>

    <div class="col-md-5">
      <br />
      <h2 class="text-primary"><%= @product.titulo %></h2>

      <dl>
        <dt class="text-primary">Descripción:</dt>
        <dd class="text-muted"><%= @product.descripcion %></dd>
        <br />
        <dt class="text-primary">Precio:</dt>
        <dd class="text-muted"><%= number_to_currency(@product.precio, :precision => 0, :unit => "€", :format => "%n %u") %></dd>
        <br />
        <dt class="text-primary">Referencia:</dt>
        <dd class="text-muted"><%= @product.ref_pro %></dd>
      </dl>
      <br />
      <div>
        <ul class="pager">
          <li class="previous">
            <%= link_to catalogo_show_path(:product_id => @previous_product) do %>
              <span aria-hidden='true'>&laquo;</span> Anterior
            <% end %>
          </li>
          <li class="next">
            <%= link_to catalogo_show_path(:product_id => @next_product) do %>
              Siguiente <span aria-hidden='true'>&raquo;</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
