<% @page_title = @product.titulo %>
<!-- Page Content -->
<div class="container">
  <!-- Portfolio Item Row -->
  <div class="row">
    <div class="col-md-6">
      <%= image_tag @product.image.url(:standard), :class => "img-responsive", :title => @product.titulo %>
      <p><%= link_to("Volver", catalogo_index_path(:section_id => @product.preproduct.section_id)) %></p>
    </div>

    <div class="col-md-6">
      <br /><br />
      <h3><%= @product.titulo %></h3>
      <p><%= @product.descripcion %></p>
      <p>Precio: <%= number_to_currency(@product.precio, :precision => 0, :unit => "€", :format => "%n %u") %></p>
      <p>Referencia: <%= @product.ref_pro %></p>
      <br /><br />
      <p><%= link_to("Anterior", catalogo_show_path(:product_id => @previous_product)) %> - <%= link_to("Siguiente", catalogo_show_path(:product_id => @next_product)) %></p>
    </div>
  </div>
  <!-- /.row -->
</div>
